{% extends "base/base.html" %} {%load static %} {% load newfilters %} {% block content %}

<div class="d-flex justify-content-center main__students__container">
    <!-- single card here  -->
    {% firstof "0"|floatformat:"0" as student_id %}
    {% for i in all_portfolio %}
    {% if student_id|floatformat:"0" != i.student.id|floatformat:"0" %}
    <a class="card student_card" onmouseenter="change__images__onhover(this, 'start')"
        onmouseleave="change__images__onhover(this, 'stop')" href="{% url 'student_page' i.student.id %}">
        <img src="{{i.student.headshot.url}}" class="card-img image__stu student_card__img" alt="" />
        {% endif %}

        <img src="{{i.image.url}}" class="card-img image__stu__{{i.main_index}}{{i.minor_index}} student_card__img"
            alt="" />

        {% with next_element=all_portfolio|next:forloop.counter0 %}

        {% if next_element.student.id|floatformat:"0" != i.student.id|floatformat:"0" %}
        <div class="card-img-overlay text-white mt-auto hide__content">
            <h5 class="card-title h2"><b>{{i.student.name}}</b></h5>
            <p class="card-text">{{i.student.short_intro}}</p>
        </div>
    </a>
    {% endif %}
    {% endwith %}

    {% if all_portfolio|length|floatformat:"0" == forloop.counter|floatformat:"0" %}
    <div class="card-img-overlay text-white mt-auto hide__content">
        <h5 class="card-title h2"><b>Amy Wirk</b></h5>
        <p class="card-text">
            Amy Cottrell is a Melbourne based fashion designer that creates unique
            pieces.
        </p>
    </div>
</div>
{% endif %}
{% firstof i.student.id|floatformat:"0" as student_id %}
{% endfor %}


<!-- single card end  -->
</div>
{% endblock content %}